@model Product_CatalogAndWarehouse_Inventory.Models.SKUMapping

<div>
    <table id="tblmappingSKUpartial" class="table table-striped table-bordered table-hover dataTables-Design">
        <thead>
            <tr>
                <th>MappingSKU</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model?.RowExpansionList)
                {
                    <tr>
                        <td>
                            @item.MappingSKU
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



