@model  Product_CatalogAndWarehouse_Inventory.Models.MappingSkuModel

<div>
    <table class="table table-striped table-bordered table-hover dataTables-Design">
        <thead>
            <tr>
                <th>MappingSKU</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var skuModel in Model.MappingSkuList)
                {
                    <tr>

                        <td>
                            @skuModel.MappingSku
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
