body {

}
#drop-zone {
    max-width: 320px;
    height: 320px;
    border: solid 1px #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropzone-img {
    object-fit: contain;
    width: 100%;
    height: 320px;
    display: none;
    padding: 4px;
}

#uploadimg {
    display: none;
}




